* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

#main {
    max-width: 640px;
    margin: auto;
    padding: 5px;
}

#main img {
    max-width: 100%;
}

#main table {
    width: 100%;
}

header {
    max-width: 640px;
    margin: auto;
    padding: 20px;  
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    color: lightgrey;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

header a {
    color: lightgrey;
    text-decoration: none;
}

header a span {
    display: none;
}

header a:hover span {
    display: inline;
}

header a span.first {
    color: hsl(0, 30%, 80%);
}

header span.second {
    color: hsl(127, 30%, 80%);
}

header span.third {
    color: hsl(255, 30%, 80%);
}

footer {
    max-width: 640px;
    margin: auto;
    color: lightgray;
    text-align: center;
}

footer a {
    color: darkgrey;
}

.agenda td {
    height: 3em;
    padding: 5px;
}

.agenda td:nth-child(1) {
    text-align: center;
}

.agenda td:nth-child(2).admin {
    background-color: hsla(0, 50%, 80%, 0.5);
}

.agenda td:nth-child(2).presentation {
    background-color: hsla(64, 50%, 80%, 0.5);
}

.agenda td:nth-child(2).highlight {
    background-color: hsla(128, 50%, 80%, 0.5);
}

.agenda td:nth-child(2) {
    background-color: hsla(0, 0%, 80%, 0.5);
}

#serviceswrap {
    background: url(../img/fayol-header.png) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
