<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SeReCo | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    <header>
      <a href="#">Se<span class="first">mantics</span></a><a href="#">Re<span class="second">asoning</span></a><a href="#">Co<span class="third">ordination</span></a>
    </header>
    <!-- <nav>
      <a href="/">Home</a>
    </nav> -->
    <section id="main">
      {{ content }}
    </section>
    <footer>
      <p>
        SeReCo is funded by the <a href="https://www.dfh-ufa.org/">German-French University</a>.
      </p>
    </footer>
  </body>
</html>